		</div><!-- /.container -->
		<!-- jQuery CDN -->
		<!-- Do not need "integrity" and "crossorigin" attributes since I use locally hosted resources -->
		<script src="/lib/jquery-3.1.1.min.js"></script>

		<!-- Bootstrap JS CDN -->
		<script src="/lib/bootstrap.min.js"></script>
	</body>
</html>	